<!doctype html>
<html>
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NEXA lamp control page</title>
</head>
<body>
    <div id="app">NOT REACT STUFFS</div>

    <% if (is_dev) { %>
    <script>
        console.log("Injecting livereloader!")
        const el = document.createElement("script");
        el.setAttribute("src", 'http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=2');
        document.body.append(el);
    </script>
    <% } %>
</body>
</html>
