[Unit]
Description=NEXA light control web server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=emaus
WorkingDirectory=/home/emaus/NEXA-910-codec/server
ExecStart=/usr/bin/env bash -c "source venv/bin/activate && ./start_server.sh"

[Install]
WantedBy=multi-user.target
